*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    height:300px;
    width:300px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content:center;
}
.box{
    height:40px;
    width:50px;
    background-color:red;
    border:1px solid white;
    color:white;
}

.box4{  
    flex-shrink: 2;
}

