img{
    height:250px;
    width:180px;
}
*{
    margin: auto;
    max-width:200px;
    padding:5px;
    box-sizing:border-box;
    border-radius:15px;
}
p{
    text-align:center;
    font-size: 19px;
    color:maroon;
}
button{
    color:white;
    background-color:maroon;
    border:0px;
    border-radius:40px;
    display: block;
}
#div1{
    border:2px solid maroon;
    width: 350px;
}