img{
    height:300px;
    width:236px;
}
*{
    margin:auto;
    padding:5px;
    box-sizing:border-box;
    border-radius:20px;
}
.Hi{
    border:2px solid red;
    width: 250px;
}
p{
    text-align:center;
    font-size: 16px;
    color:green
}
button{
    background: linear-gradient(red,pink);
    display: block;
    border:0px;
}